<h1>Student Form</h1>
<%=form_tag students_path do%>

    <label>First Name</lable>
    <div><%=text_field_tag :first_name%></div>

    <label>Last Name:</lable>
    <div><%=text_field_tag :last_name%></div>

    <%= submit_tag "Submit Student"%>
    <%end%>
